body {
    font-family: "Arial", sans-serif; /*make own font*/
    background-color: #f9f5f2;
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #ff9aa2;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
}

button:hover {
    background-color: #ff758f;
}

img {
    padding: 20px;
}